
h1{

	color: white;
	padding:5px;
	background-color:black;
	margin:auto;
	text-align:center;
	border-style:solid;
	border-bottom: 5px solid red;
	margin-right:100px;
	margin-left:100px;	
   }
p{
		text-align:center;	
	color:black;
	border-style:solid;
	background-color:white;
	margin-top:100px;
	margin-right:170px;
	margin-left:170px;
	padding:20px;

	
}

body {
			text-align:center;			
			background-image: url("reading-925589_960_720.jpg");
			background-repeat:no-repeat;
			background-position:center;
			background-size:149%,75%;
	}


